

/* .header-line{  


    display: block;
    height: 0.3rem;
    max-width: 100%;
    background-color: #011827;
    overflow-x: hidden;
    

} */

 /* esc-dot{

    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: #EE82EE;
    border-radius: 50%;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.4;
    
}  */

/* creating a dot with settings */

/*  .dot{  
    

    height: 1rem;
    width: 1rem;
    background-color:  black;
    border-radius: 50%;
    text-align: left;    
    display: inline-block;
}  */

/* create header-element background color to white */



 header{

    background-color: #011827;
    height:144px;

} 






/* create headers h1-element color black and font-weight lighter and move h1  */
 header  h1{

    color: white;
    font-weight: lighter;
   


} 

/* create both color and background to white in the .main-nav section */

.main-nav{

    color: #ffff;
    background-color: #ffff;
}


/* create links a-element to color black */

.main-menu a{

    color: white;
    font-weight: lighter;
    margin-top: -100px;
    
    
}

/* adding font-weight lighter in this section */

h2 {

    font-weight: lighter;
    text-align:center;
    margin-top: 2rem;
}

/* adding backgroudn, color, border and padding */


.btnFilterChallenges {

    background-color: #ffff;
    color: #87CEFA;
    border: 1px solid lightblue;
    padding: 0.5rem 0.5rem;
    margin-left: 46%;  
}


/*********************************************** Beginning of cards styling ***************************************************/


.move{

    position: relative;
}

.btnBook{

    position: relative;
    right: -6rem;
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 8px;
    

    background-color: blue;
    color: white;
    
    
}

.challenge-item{

    position: relative;
}

.challenges h3, small, p{

    
  
    justify-content: left;
    font-size: small;
    
    
}

.challenges h3{

    position: relative;
    top: -95px;
    
}

.challenge-meta{

    position: relative;
    top: -80px;
}



.challenge-item small{

    position: absolute;
    top: 17rem;
}

.challenge-item p{

   position: absolute;
   top: 18rem;
   

   
}

.challenge-item li{

   position: relative;
   top: -60px;
   left: 15px;
   
   
}















/* create background-color light-grey */

footer{

    background-color: #011827;
}

/* creating color and font-weight on footer-summary */

.footer-summary h2{

    color: white;
    font-weight:bold;
}

/* creatig color and font-weight */

.footer-summary p{

    color: white;
    font-weight: lighter;
}

.footer-summary h2{

    margin-left: -11rem;
}

/* creating color and font-weight */

.footer-sitemap h2{

    color: white;
    font-weight: bold;
    margin-left: -5rem;


}

/* creating color and font-weight on a-elements links */

.footer-sitemap a{

    color: white;
    font-weight: lighter;
}

/* creating color black and font-weigth bold */

.footer-social h2{

    color: white;
    font-weight: bold;
    margin-left: -4rem;
}

/* crating color black and font-weight lighter*/

.footer-social a{

    color: white;
    font-weight: lighter;
}


















