.our-challenges-header {
    text-align: center;
    margin-top: 2rem;
}

.loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  .loading-image {
    position: absolute;
    top: 20rem;
    /*left: 240px;*/
    z-index: 100;
  }
    

.challenges {
    margin: 3rem 0;

    @include section;

    h2 {
        text-align: center;
    }
}

.challenge-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    margin-block: 0;
    margin-inline: auto;

    @media (min-width: $bp-medium) {
        &.all {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            overflow-x: auto;
        }
    }

    .filter-error {
        font-size: 24px;
        padding: 1em;
    }
}


.challenge-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 360px;
    max-width: 400px;

    border-radius: 4px;
    margin: 1em;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;


    .room-image {
        position: absolute;
        top: 1em;
        right: 1em;
        width: clamp(50px, 3vw, 70px);
    }

    .challenge-title,
    .challenge-description,
    .rating,
    .challenge-meta,
    .button {
        margin: 0.5rem;
    }

    .challenge-image {
        grid-column: span 2;
    }

    .challenge-title {
        grid-column: span 2;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 0.8em;
        margin-bottom: 0;
    }

    .challenge-meta {
        text-align: right;
    }

    .challenge-description {
        grid-column: span 2;
    }

    .button {
        grid-column: 2 / 3;
        font-size: 0.7em;
        padding: 1em;
    }
}

.challenges-cta {
    @include responsive-ctas;
    margin: 4rem 3rem;
}