.modalInputLabels {
    font-weight: 500;
}

.input-field {
        font-size: 1.2em;
        height: 2rem;
        border-radius: 5px;
        margin-bottom:30px;
        width: 400px;
        overflow:visible;
    }
    
#date {
    font-size: 1.2em;
}

#time {
    height: 3rem;
    width: 230px;
    font-size: 1.3em;
}

#participants {
    height: 3rem;
    width: 230px;
    font-size: 1.3em;
}

.modal-div {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.modalContents {
    display: flex;
    flex-direction: column;
    background-color: $c-darkblue;
    color: white;
    position:fixed;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 1001;
}


.bookingStep1Content {
    
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 10px;
}

#firstButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.bookingStep2Content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 10px;
}

#secondButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.bookingStep3Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;
}

@media screen and (max-width: 530px) {
    .bookingStep1Content {
        margin-left: 0px;
    }
    .bookingStep2Content {
        margin-left: 0px;
    }
    
}
@media screen and (max-width: 458px) {
    #date {
        width: 100%;
    }
    #name {
        width: 100%;
    }
    #e-mail {
        width: 100%;
    }
}