@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
}
@media (min-width: 1000px) {
  html,
  body {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

.btnFilterChallenges {
  background-color: white;
  color: #87CEFA;
  border: 1px solid lightblue;
  padding: 0.5rem 0.5rem;
  margin: 1rem auto;
  display: block;
}

menu,
ul,
li {
  margin: 0;
  padding: 0;
}

.button, #btnFilterChallenges {
  display: block;
  border-radius: 4px;
  padding: 1em 2em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-width: 0;
  font-size: 1.1rem;
}
.button.primary, .primary#btnFilterChallenges {
  background-color: #E3170A;
  color: white;
}
.button.secondary, .secondary#btnFilterChallenges {
  background-color: #8ACFE5;
  color: #011827;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4em;
}
.rating .rating-star {
  list-style-type: none;
  width: 23px;
  height: 26px;
  background-image: url(star-inactive.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.rating .rating-star.active {
  background-image: url(star-active.png);
}

header {
  background-color: #011827;
  color: white;
  padding: 1em;
}
header h1 {
  margin: 0;
  padding: 0 0 0 130px;
  font-weight: 700;
  font-size: 22px;
  width: 120px;
  background-image: url("logo.png");
  background-size: 120px auto;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  header h1 {
    width: auto;
    font-size: 40px;
    padding-left: 140px;
    padding-top: 30px;
  }
}

.main-nav a {
  font-size: 1rem;
}

.main-nav-toggle {
  display: none;
}

@media (max-width: 800px) {
  .main-nav-toggle {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    /* Reset button styling */
    margin: 0;
    padding: 0;
    border-width: 0;
    display: block;
    -webkit-transition: top 0.5s, right 0.5s, -webkit-transform 0.5s;
    transition: top 0.5s, right 0.5s, -webkit-transform 0.5s;
    -o-transition: top 0.5s, right 0.5s, transform 0.5s;
    transition: top 0.5s, right 0.5s, transform 0.5s;
    transition: top 0.5s, right 0.5s, transform 0.5s, -webkit-transform 0.5s;
  }
  .main-nav-toggle::before {
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    position: relative;
    top: 0.8em;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .main-nav-toggle::after {
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    position: relative;
    top: 1.2em;
  }
  .main-menu {
    display: none;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  .main-nav.open {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
  }
  .main-nav.open .main-nav-toggle {
    z-index: 1001;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 3em;
    right: 2em;
  }
  .main-nav.open .main-nav-toggle::before {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .main-nav.open .main-nav-toggle::after {
    display: none;
  }
  .main-nav.open .main-menu {
    z-index: 1;
    background-color: #011827;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    z-index: 1000;
    animation: main-menu_reveal 0.3s 0.2s;
    animation-fill-mode: backwards;
  }
  @keyframes main-menu_reveal {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .main-nav.open .main-menu-item {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  .main-nav.open .main-menu-item a {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
  }
}
@media (min-width: 800px) {
  .main-nav {
    display: block;
    background-color: #011827;
    padding-top: 2rem;
  }
  .main-menu {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .main-menu-item {
    list-style-type: none;
  }
  .main-menu-item a {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.8em 1.5em;
    transition: color 0.2s;
  }
  .main-menu-item a:hover {
    color: #8ACFE5;
  }
}
.hero img {
  width: 100%;
  min-height: 40vh;
  object-fit: cover;
}
@media (min-width: 600px) {
  .hero img {
    max-height: 60vh;
  }
}

.hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin: 1em 3em;
  position: relative;
  top: -2em;
}
.hero-cta .button.primary, .hero-cta .primary#btnFilterChallenges {
  background-color: transparent;
  color: #36769D;
  text-decoration: underline;
  margin: 1em 0;
}
@media (min-width: 600px) {
  .hero-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1em;
  }
  .hero-cta .button.primary, .hero-cta .primary#btnFilterChallenges {
    background-color: #E3170A;
    margin: 0;
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 600px) {
  .hero-cta {
    margin: 0;
  }
}

.testimonials {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-item {
  list-style-type: none;
  display: none;
}
.testimonial-item:first-child {
  display: block;
}
.testimonial-item figure {
  display: grid;
  grid-template-columns: 74px auto;
  column-gap: 1em;
}
.testimonial-item figure blockquote {
  margin: 0;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.testimonial-item figure figcaption {
  grid-column: 2/3;
}

@media (min-width: 1000px) {
  .testimonial-list {
    display: flex;
  }
  .testimonial-item {
    display: block;
  }
}
.our-challenges-header {
  text-align: center;
  margin-top: 2rem;
}

.challenges {
  margin: 3rem 0;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.challenges h2 {
  text-align: center;
}

.challenge-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-block: 0;
  margin-inline: auto;
}
@media (min-width: 600px) {
  .challenge-list.all {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: auto;
  }
}
.challenge-list .filter-error {
  font-size: 24px;
  padding: 1em;
}

.challenge-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 360px;
  max-width: 400px;
  border-radius: 4px;
  margin: 1em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
.challenge-item .room-image {
  position: absolute;
  top: 1em;
  right: 1em;
  width: clamp(50px, 3vw, 70px);
}
.challenge-item .challenge-title,
.challenge-item .challenge-description,
.challenge-item .rating,
.challenge-item .challenge-meta,
.challenge-item .button,
.challenge-item #btnFilterChallenges {
  margin: 0.5rem;
}
.challenge-item .challenge-image {
  grid-column: span 2;
}
.challenge-item .challenge-title {
  grid-column: span 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.8em;
  margin-bottom: 0;
}
.challenge-item .challenge-meta {
  text-align: right;
}
.challenge-item .challenge-description {
  grid-column: span 2;
}
.challenge-item .button, .challenge-item #btnFilterChallenges {
  grid-column: 2/3;
  font-size: 0.7em;
  padding: 1em;
}

.challenges-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin: 1em 3em;
  margin: 4rem 3rem;
}
.challenges-cta .button.primary, .challenges-cta .primary#btnFilterChallenges {
  background-color: transparent;
  color: #36769D;
  text-decoration: underline;
  margin: 1em 0;
}
@media (min-width: 600px) {
  .challenges-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1em;
  }
  .challenges-cta .button.primary, .challenges-cta .primary#btnFilterChallenges {
    background-color: #E3170A;
    margin: 0;
    text-decoration: none;
    color: white;
  }
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #011827;
  color: white;
  padding: 3rem 1rem;
}
.story p {
  max-width: 26rem;
  text-align: center;
  margin-bottom: 2rem;
}
.story .button, .story #btnFilterChallenges {
  border: 2px solid #8ACFE5;
  color: #8ACFE5;
  background-color: transparent;
}

.usps {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.usps .usp {
  margin: 0 0 2rem;
}
.usps .usp .usp-image {
  object-fit: cover;
}
.usps .usp a {
  display: inline-block;
}
.usps .usp .usp-title,
.usps .usp .usp-intro,
.usps .usp .button,
.usps .usp #btnFilterChallenges {
  margin-left: 1rem;
  margin-right: 1rem;
}
.usps .usp .button, .usps .usp #btnFilterChallenges {
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .usps .usp {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .usps .usp .button, .usps .usp #btnFilterChallenges {
    margin-top: 0;
    font-size: 0.8rem;
  }
  .usps .usp .usp-image {
    max-width: 50%;
  }
  .usps .usp .usp-info {
    padding: 2rem;
  }
  .usps .usp:nth-child(even) {
    flex-direction: row-reverse;
  }
}

footer {
  background-color: #011827;
  color: white;
  padding: 1rem 1rem 3rem;
}
footer h2 {
  font-size: 1.2em;
  margin: 2em 0 0.3em;
}
footer p {
  margin: 0;
}
footer li {
  list-style-type: none;
}
footer .misc-link + .play-link {
  margin-top: 1em;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #8ACFE5;
}
@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 0.7rem;
  }
  footer .footer-summary {
    grid-column: 2/7;
  }
  footer .footer-sitemap {
    grid-column: 8/10;
  }
  footer .footer-social {
    grid-column: 10/12;
  }
}

#btnFilterChallenges {
  border: 2px solid #8ACFE5;
  color: #8ACFE5;
  cursor: pointer;
  font-size: 0.8rem;
}

.filter-form {
  padding: 1em;
  max-width: 80vw;
  border: 1px solid black;
  margin-inline: auto;
  display: grid;
  grid-template-rows: 100px, repeat(2, 1fr);
  grid-template-columns: 1fr;
  position: relative;
  gap: 1.5em;
  display: none;
}
.filter-form.open {
  display: grid;
}
.filter-form .filter-clear {
  font-size: 0.7em;
  display: inline-block;
  max-width: 200px;
  max-height: 80px;
  -ms-flex-item-align: end;
  align-self: end;
  justify-self: end;
}
.filter-form label {
  cursor: pointer;
}
@media (min-width: 600px) {
  .filter-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .filter-form .filter-clear {
    grid-column: 2;
  }
}
@media (min-width: 1000px) {
  .filter-form {
    grid-template-columns: repeat(3, 1fr);
  }
  .filter-form .filter-clear {
    grid-column: 3;
  }
}
.filter-form .filter-header {
  grid-column: 1/-1;
  font-size: 26px;
}
.filter-form .filter-close {
  cursor: pointer;
  display: block;
  content: "";
  width: 3em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #011827;
  position: absolute;
  margin: 0;
  border-width: 0;
  padding: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2em;
  right: 2em;
}
.filter-form .filter-close::before {
  display: block;
  content: "";
  width: 3em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #011827;
  position: relative;
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.filter-form .filter-header-small {
  font-size: 18px;
  margin-bottom: 0.7em;
}
.filter-form .filter-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.filter-form .filter-type label {
  font-size: 18px;
}
.filter-form .filter-type input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 0.2em;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #8ACFE5;
  border-radius: 0.15em;
  -webkit-transform: translateY(-0.075em);
  -ms-transform: translateY(-0.075em);
  transform: translateY(0.2em) translateX(-0.3em);
  display: grid;
  float: left;
  place-content: center;
}
.filter-form .filter-type input:checked {
  border: 0.15em solid #36769D;
}
.filter-form .filter-type input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  -o-transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em #36769D;
  box-shadow: inset 1em 1em #36769D;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.filter-form .filter-type input:checked::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.filter-form .filter-type input:focus {
  outline: max(2px, 0.15em) solid #011827;
  outline-offset: max(2px, 0.15em);
}
.filter-form .filter-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.filter-form .filter-rating small {
  margin-inline: 0.6em;
  font-size: 16px;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.filter-form .filter-rating .filter-rating-stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filter-form .filter-rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
}
.filter-form .filter-rating-stars input {
  display: none;
}
.filter-form .filter-rating-stars label {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 23px;
  height: 26px;
  background-image: url(star-inactive.png);
  background-size: 20px;
  background-repeat: no-repeat;
  accent-color: hotpink;
  background-color: #fff;
  border: none;
  color: transparent;
  position: relative;
}
.filter-form .filter-rating-stars input:checked ~ label, .filter-form .filter-rating-stars input:checked ~ label ~ label {
  width: 23px;
  height: 26px;
  background-image: url(star-active.png);
  background-size: 20px;
  background-repeat: no-repeat;
}
.filter-form .filter-tags input[type=checkbox] {
  display: none;
}
.filter-form .filter-tags label {
  margin-block: 0.3em;
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 2px solid transparent;
  font-size: 16px;
  border: 2px solid #36769D;
  border-radius: 8px;
}
.filter-form .filter-tags input:checked + label {
  background-color: #36769d;
  border: 2px solid #36769D;
  padding: 0.2em 0.4em;
  color: #fff;
}
.filter-form .filter-search {
  grid-column: 1;
  margin-top: 1em;
}
@media (min-width: 600px) {
  .filter-form .filter-search {
    grid-column: 2;
  }
}
.filter-form .filter-search input {
  border: 2px solid #36769D;
  border-radius: 3px;
  padding: 0.5em 1em;
  width: 100%;
  font: inherit;
  font-size: 18px;
}

.modalInputLabels {
  font-weight: 500;
}

.input-field {
  font-size: 1.2em;
  height: 2rem;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 400px;
  overflow: visible;
}

#date {
  font-size: 1.2em;
}

#time {
  height: 3rem;
  width: 230px;
  font-size: 1.3em;
}

#participants {
  height: 3rem;
  width: 230px;
  font-size: 1.3em;
}

.modal-div {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.modalContents {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #011827;
  color: white;
  position: fixed;
  padding: 15px;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 1001;
  min-height: 80vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modalContents .bookingStep1Content,
.modalContents .bookingStep2Content {
  display: contents;
}
.modalContents form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.modalContents form #firstButton,
.modalContents form #secondButton {
  margin: auto 0 15px auto;
}

.bookingStep1Content {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 10px;
}

.bookingStep2Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 10px;
}

.bookingStep3Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 40vh;
}

@media screen and (max-width: 530px) {
  .bookingStep1Content {
    margin-left: 0px;
  }
  .bookingStep2Content {
    margin-left: 0px;
  }
}
@media screen and (max-width: 458px) {
  #date {
    width: 100%;
  }
  #name {
    width: 100%;
  }
  #e-mail {
    width: 100%;
  }
}
